/* A Free Design by Bryant Smith (bryantsmith.com) */



body {
	margin: 0;
	padding: 0;
	text-align: left;
	font-family: Verdana,Geneva,sans-serif;
	font-size: 13px;
	/* background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #8CC3FA),
	color-stop(1, #FDFCFF)
);
background-image: -o-linear-gradient(bottom, #8CC3FA 0%, #FDFCFF 100%);
background-image: -moz-linear-gradient(bottom, #8CC3FA 0%, #FDFCFF 100%);
background-image: -webkit-linear-gradient(bottom, #8CC3FA 0%, #FDFCFF 100%);
background-image: -ms-linear-gradient(bottom, #8CC3FA 0%, #FDFCFF 100%);
background-image: linear-gradient(to bottom, #8CC3FA 0%, #FDFCFF 100%); */

}

*
{
  margin: 0 ;
 text-align:left;}

#container
{
  display: block; 
  height:auto;
  position: relative; 
  width: 100%;
}


#header
{
height:85px;
width:100%;	
font-family: Raleway,sans-serif;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c4ebfa+0,63daf7+50,caeefa+100 */
background: #c4ebfa; /* Old browsers */
background: -moz-linear-gradient(top,  #c4ebfa 0%, #63daf7 50%, #caeefa 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c4ebfa), color-stop(50%,#63daf7), color-stop(100%,#caeefa)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #c4ebfa 0%,#63daf7 50%,#caeefa 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #c4ebfa 0%,#63daf7 50%,#caeefa 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #c4ebfa 0%,#63daf7 50%,#caeefa 100%); /* IE10+ */
/* background: linear-gradient(to bottom,  #c4ebfa 0%,#63daf7 50%,#caeefa 100%); */ /* W3C */
background: linear-gradient(to bottom,  #c4ebfa 0%,skyblue 50%,skyblue 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4ebfa', endColorstr='#caeefa',GradientType=0 ); /* IE6-9 */

}

#header h1
{
	position:absolute;
text-align:left;
color:#FFFFFF;
font-size:43px;
color:#FFF;	
left:14px;
top:18px;
}


#header h2
{
position:absolute;
text-align:right;
color:#A9D1FA;
left:490px;
top:38px;
width:400px;
}

#mainpic
{
background-image:url(../../ims/images/main.jpg);
background-repeat:no-repeat;
width:900px;
height:354px;	
}



.off
{
color:#67A0F5;
}


#menu
{
display:block;
float:left;
clear:both;
width:100%;
height:23px;
background-color:#f4f4f2; 
 border-radius: 5px;
    border: 1px solid #f4f4f2;
    padding: 5px;
    width: 99%;
    border-color: #cccccc;
    font-family: Raleway,sans-serif;
}

#leftmenu
{
margin-top:15px;
width:204px;
float:left;
}

#leftmenu_top
{
width:204px;
height:14px;
background-image:url(../../ims/images/leftmenu_top.png);
}
#leftmenu_bottom
{
width:204px;
height:14px;
background-image:url(../../ims/images/leftmenu_bottom.png);
}
#leftmenu_main
{
width:204px;
height:auto;
background-color:#1C478E;
}

#leftmenu_main ul
{
list-style: none;
padding: 0px;
width:204px;
}


#leftmenu_main h3
{
list-style: none;
padding: 0px;
width:204px;
color:#FFFFFF;
padding-left:10px;
padding-bottom:14px;
}

#leftmenu_main ul li
{
list-style: none;
padding: 0px;
width:204px;
text-align:left;
}

#leftmenu_main ul li a, #leftmenu_main ul li a:visited
{
	background-color: #c4ebfa;
display:block;
list-style: none;
padding: 0px;
width:192px;
padding-left:12px;
padding-top:4px;
height:30px;
text-align:left;
/* background-image:url(../../ims/images/leftmenu_link.png);
background-repeat:repeat-x; */
/* margin-top:5px; */
color:#FFFFFF;
/* text-decoration:none; */
font-size:12px;
font-weight:bold;
color: #0000A0;
}

#leftmenu_main ul li a:hover
{
color:#87BCF8;
	
	
}




#content
{
display:block;
float:left;
width:67%;
height:auto;
padding-left:10px;
padding-top:15px;
padding-right:10px;
padding-bottom:5px;
}


#content_top
{
	/* background-image:url(../../ims/images/main_top.png);
	background-repeat:no-repeat; */
	
	width:100%;
	height:25px;
}

#content_main
{
 border-radius: 5px;
 /* //border: 2px solid #000040; */
/* background-color: white; */
width:100%;
padding-left:15px;
padding-right:15px;
border-radius: 5px;
    border: 1px solid #f4f4f2;
    padding: 5px;
    width: 121.5%;
    background-color:#f4f4f2; 
    border-color: #cccccc;
    margin-left: 23px;
    font-family: Raleway,sans-serif;
}

#dashboard_content_main
{
 border-radius: 5px;
 /* //border: 2px solid #000040; */
/* background-color: white; */
width:95%;
padding-left:15px;
padding-right:15px;
border-radius: 5px;
    border: 1px solid #f4f4f2;
    padding: 5px;
    
    background-color:#f4f4f2; 
    border-color: #cccccc;
    margin-left: 23px;
    font-family: Raleway,sans-serif;
}
#dashboard_side_section
{
 background-color: #f4f4f2;
    border: 1px solid #cccccc;
    border-radius: 5px;
	font-family: Raleway,sans-serif;
    margin-left: 1119px;
    margin-top: 50px;
    padding: 5px;
	text-align: center;
    width: 214px;
    
}

#content_bottom
{
/* background-image:url(../../ims/images/main_bottom.png);
background-repeat:no-repeat; */
width:100%;
height:25px;
}








#footer
{
width:inherit;
height:auto;
position: center;
}

#footer h3 a,#footer h3 a:visited
{
display:inline;
text-align:center;
font-size:12px;
text-decoration:none;
color:#7198E1;
}


#menu ul {
	list-style: none;
	padding: 0px;
	margin-left:auto;
	width:100%;
}

#menu li {
	list-style: none;
	padding: 0px;	
	display: inline; 
	
}

#menu a {
	float: left;
	height: 36px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	padding-top: 18px;
	font-size: 15px;
	padding-left:13px;
	padding-right:13px;
	
}

#menu a:hover{
	color:#86AEF9;
	background-image:url(../../ims/images/linkbackground.jpg);
	background-repeat:repeat-x;
}

#content p
{
	
}


html, body {
text-align: center;
}
p {text-align: left;}

.inpu-div{
	float: left;
	width: 100%;
	padding-top: 10px;
}

.label{
	font-size: 14px;
	font-weight: bold;
	width: 40%;
	padding-right: 6px;
	color: #2699ca;
	font-family: Raleway,sans-serif;
}
.input-text{
	width: 90%;
}
.rcorners {
    border-radius: 5px;
    border: 1px solid #f4f4f2;
    background-color:#f4f4f2;
    padding: 5px;
    width: 99%;
    margin-bottom: 20px; height: 220px; border-color:#cccccc;
}
.heading {
	background: linear-gradient(to bottom,  #c4ebfa 0%,#63daf7 50%,#caeefa 100%); 
	border: 2px solid #cccccc; 
	align:center; 
	width:99.6%; 
	border-radius: 5px;
	font-family: Raleway,sans-serif;
}

.btn-style{
	border : solid 1px #e6e6e6;
	border-radius : 3px;
	moz-border-radius : 3px;
	-webkit-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	-moz-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	font-size : 20px;
	color : #696869;
	padding : 1px 17px;
	font-family: Raleway,sans-serif;
	background : #ffffff;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(49%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6));
	background : -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background : -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background : -o-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background : -ms-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background : linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );

}

.input-form{
	width: 70%;
	float: left;
}
.error-div{
	width: 100%;
	float: left;
}